body {
    margin: 0;
    min-width: 1280px;
    min-height: 2762px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    fill: currentColor;
}

.hotels-page {
    background-color: #f2f2f2;
    min-width: 1280px;
    min-height: 933px;

}

.main-container {
    width: 1200px;
    min-height: inherit;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 15px black;
    box-shadow: 0px 5px 15px black;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.main-header {
    position: relative;
    width: 100%;
}

.main-header img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    display: block;
    width: 140px;
    margin-top: -1px;
}

.site-navigation {
    padding: 0;
    margin: 0;
    width: 1128px;
    font-weight: bold;
    line-height: 26px;
    color: #000;
    background-color: inherit;
}

.navigation-list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navigation-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 0 16px 0;
}

.navigation-list li:nth-child(4n+1) {
    margin-left: 72px;
}

.navigation-list li:nth-child(4n+2) {
    margin-left: 147px;
}

.navigation-list li:nth-child(4n+3) {
    margin-left: 387px;
    letter-spacing: 0.3px;
}

.navigation-list li:nth-child(4n+4) {
    margin-left: auto;
}

.navigation-list a {
    color: #000;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-list .active {
    color: #766357;
    pointer-events: none;
    cursor: default;
}

.head-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 509px;
    background-color: #81b3d2;
    background-image:
        url(../img/svg-sedona/intro-mask.svg),
        url(../img/main-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center 454px, 0 -56px;
    background-size: 1200px 57px, auto auto;
}

.head-wrapper img {
    padding-top: 76px;
}

.title-section {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 216px;
    text-align: center;
    line-height: 21px;
}

.about-town {
    width: 440px;
    padding-top: 60px;
    padding-bottom: 14px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.about-reasons {
    width: 489px;
    min-height: 13px;
    line-height: 26px;
}

.reasons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
    background-color: #81b3d2;
    width: 400px;
}

.reasons-block h3 {
    margin: 0;
    padding-top: 46px;
    padding-bottom: 27px;

    padding-left: 140px;
    padding-right: 139px;
    word-wrap: break-word;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.reasons-block span {
    padding-bottom: 22px;
    line-height: 21px;
}

.reasons-block p {
    padding: 0;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 21px;
}

.reasons-block.bridge h3 {
    width: 300px;
    padding-top: 50px;
    padding-left: 161px;
    padding-right: 160px;
}

.reasons-block.bridge p {
    padding-left: 45px;
    padding-right: 45px;
}


.reasons-image-town {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url(../img/layer-1.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.reasons-image-bridge {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url(../img/layer-2.jpg);
    background-position: center;
    background-repeat: no-repeat;

}


.reasons-list h3,
.reasons-list p,
.reasons-list span {
    word-wrap: break-word;
    color: #000;
}

.reasons-list p {
    padding: 0;
    margin: 0;
    width: 270px;
    padding-bottom: 63px;
}

.features-section {
    text-align: center;
    line-height: 21px;
}

.features-list,
.reasons-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 1200px;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    min-height: 330px;

}

.features-item h3 {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 160px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.features-item h3::before {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: -105px;
    left: 50%;
    margin-left: -40px;
}

.features-item p {
    padding: 0;
    margin: 0;
    width: 300px;
    font-size: 14px;
    padding-top: 23px;
}

.features-item .gifts-text {
    margin-top: -22px;
}


.features-item .home::before {
    background-image: url(../img/svg-sedona/icon-1.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.features-item .food::before {
    background-image: url(../img/svg-sedona/icon-3.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.features-item .gifts::before {
    background-image: url(../img/svg-sedona/icon-2.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.features-item .gifts {
    padding-bottom: 25px;
}

.reasons-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 256px;
    text-align: center;
    line-height: 21px;
    background-color: #eeeeee;
    color: #fff;
}

.reasons-list li {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 256px;
    flex-wrap: wrap;
    flex-basis: 400px;
    justify-content: center;
    flex-direction: column;
}

.reasons-list h3 {
    padding: 0;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 27px;
    width: 123px;
    font-size: 21px;
    font-weight: bold;

}

.reasons-list span {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
}

.hotels-seacrh {
    text-align: center;
}

.hotels-seacrh b {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.hotels-seacrh p {
    text-align: center;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 23px;
}

.hotels-wrap {
    margin: 0 auto;
    width: 437px;
    min-height: 96px;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 62px;
}

.search-button {
    position: relative;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 140px;
    padding-right: 139px;

    font-size: 21px;
    margin-top: -16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #766357;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.main-footer {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    align-items: center;
}

.hashtag {
    padding: 0;
    margin: 0;
    margin-left: 132px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.developer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 195px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 26px;
    margin-right: 101px;
}

.developer b {
    font-weight: normal;
    margin-right: 6px;
}

.developer svg {
    vertical-align: middle;
}

.developer svg:hover,
.developer svg:focus {
    fill: #81b3d2;
}

.developer svg:active {
    fill: #bdbbbc;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 3px;
    margin-right: 3px;
}

.social-button svg {
    fill: #fff;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: #88b6d1;
}

.find-form label {
    text-align: left;
    font-weight: bold;
}

input[type="text"] {
    width: 346px;
    height: 32px;
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


input[type="text"]::after {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: fuchsia;
}

input::-webkit-input-placeholder {
    padding-left: 12px;
    color: #000;
}

input:-ms-input-placeholder {
    padding-left: 12px;
    color: #000;
}

input::-ms-input-placeholder {
    padding-left: 12px;
    color: #000;
}

input::placeholder {
    padding-left: 12px;
    color: #000;
}

input[type="text"]:hover {
    background-color: #ebebeb;
}

input[type="text"]:focus {
    outline-color: #e5e5e5;
    outline-width: 2px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-hotels-wrapper {
    margin-left: 316px;
    position: absolute;
    max-width: 458px;
    background-color: white;
    padding: 30px 55px 55px 55px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.arrival,
.departure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 458px;
    height: 38px;
    margin: 0;
    padding: 0;
}

.arrival,
.departure {
    height: auto;
}

.search-hotels-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 458px;
    margin-top: -10px;
    align-items: center;
}

.search-hotels-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button-calendar-arrival,
.button-calendar-departure {
    width: 21px;
    height: 22px;
    padding: 0;
    cursor: pointer;
}

.search-hotels-group {
    position: relative;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 4px;
}

.button-calendar-arrival,
.button-calendar-departure {
    position: absolute;
    border: 0;
    background-color: transparent;
    left: 428px;
    top: 8px;
    margin: 0;
    outline: none;
}

.button-calendar-arrival:hover path,
.button-calendar-departure:hover path {
    fill: black;
}

.button-calendar-arrival:active path,
.button-calendar-departure:active path {
    fill: #81b3d2;
}

.date-form {
    width: 97px;
    margin-right: auto;
    margin: 0;
    padding-top: 7px;
    letter-spacing: 0.2px;
}

.date-out {
    padding-top: 5px;
}

.adults-label {
    width: 72px;
    padding-right: 41px;
    padding-bottom: 1px;
    word-wrap: break-word;
}

.button-minus {
    position: relative;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
    border: 0;
    cursor: pointer;
    outline: none;
    margin: 0;
}

.button-minus::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-minus:hover::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: black;
}

.button-minus:active::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: #81b3d2;
}

.number-adults,
.number-children,
.search-input {
    background-color: #f2f2f2;
    cursor: pointer;
}

.adults-group,
.children-group {
    display: flex;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.number-adults,
.number-children {
    border: 0;
    font-size: 14px;
    line-height: 26px;
    width: 38px;
    height: 38px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    outline: none;
}

.search-input {
    box-sizing: border-box;
    height: 38px;
    width: 346px;
    border: 0;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 13px;
    padding-right: 35px;
    outline: none;
}

.button-plus {
    position: relative;
    background-color: #f2f2f2;
    width: 38px;
    height: 38px;
    border: 0;
    cursor: pointer;
    outline: none;
}

.button-plus::before,
.button-plus::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-plus::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.button-plus:hover::after,
.button-plus:hover::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: black;
}

.button-plus:active::after,
.button-plus:active::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 18px;
    width: 11px;
    height: 3px;
    background-color: #81b3d2;
}

.children-group {
    margin-left: auto;
}

.children-label {
    width: 39px;
    padding-right: 26px;
    padding-bottom: 1px;
    word-wrap: break-word;
}


.button-search {
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 196px;
    padding-right: 197px;

    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    color: #fff;

    border: none;
    background-color: #81b3d2;

}

.button-search {
    cursor: pointer;
}

.buttom-search-main {
    font-size: 21px;
    line-height: 26px;
}

.buttom-search-main {
    margin-top: 29px;
}

.button-search:hover {
    background-color: #669ec0;
    outline: none;
}

.button-search:focus,
.button-search:active {
    background-color: #5496bd;
    color: #94b9d2;
    outline: none;
}

/*стили для sedona-hotels.html*/
.current-page {
    color: #766357;
}

.filter-area {
    min-height: 200px;
    background: url('../img/filter-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-column {
    margin-left: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.left-column fieldset {
    padding: 0;
    margin: 0;
}

.filter-range {
    width: 314px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    padding: 0;
    margin-top: -13px;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 55px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.price-controls input:hover,
.price-controls input:active {
    cursor: pointer;
    background-color: transparent;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    line-height: 21px;
}

.filter-form ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-form fieldset:last-child {
    margin-left: 115px;
}

fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
}

legend {
    margin: 0;
    padding-top: 31px;
    font-weight: bold;
    font-size: 16px;
}

.checkbox-list li {
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.checkbox-list label {
    text-align: center;
    cursor: pointer;
}

.checkbox-list li:last-child {
    padding-bottom: 31px;
}

input[type=checkbox] {
    display: none;
}

.checkbox-list label::before {
    cursor: pointer;
    content: "";
    width: 23px;
    height: 23px;
    margin-right: 15px;
    display: inline-block;
    background-image: url(../img/svg-sedona/checkbox-off.svg);
    background-repeat: no-repeat;
}

input[type=checkbox]:checked + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on.svg);
    background-repeat: no-repeat;
}

input[type=checkbox]:checked:disabled + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on-dis.svg);
    background-repeat: no-repeat;
    fill: #6a6a6a;
}

input[type=checkbox]:disabled + label::before {
    width: 23px;
    background-image: url(../img/svg-sedona/checkbox-off-dis.svg);
    background-repeat: no-repeat;
    fill: #6a6a6a;
}

.filter-range {
    padding: 0;
    margin: 0;
    margin-right: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.show-button {
    padding: 0;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 34px;
    padding-right: 34px;
    color: #fff;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

.show-button:hover,
.show-button:focus {
    color: #000;
    background-color: #fff;
}

.results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.find-result {
    margin-left: 72px;
    margin-right: 49px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
}

.sorting-order-buttons {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 73px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sorting-order-buttons svg {
    fill: #cacaca;
}

.sorting-order-buttons svg:hover,
.sorting-order-buttons svg:focus {
    fill: #000;
}

.sorting-order-buttons svg:active {
    fill: #81b3d2;
}

.up-button,
.down-button {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right: 8px;
}



.sorting-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 17.5px;
    font-size: 12px;
    text-align: left;
}

.sorting-area p {
    margin-right: 40px;
}


.sorting-button {
    margin-right: 33px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
    color: #81b3d2;
}

.sorting-button:active {
    color: #000;
    border: none;
}

.checked {
    border: none;
    color: #81b3d2;
}

.hotels-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
}

.hotel-item {
    padding: 0;
    margin: 0;
    height: 150px;

    /* временно */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    /* */
}

.item-wrapper {
    height: 100px;
    margin-right: auto;
}

.hotel-item img {
    margin-left: 72px;
    margin-right: 30px;
}

.item-wrapper h2 {
    padding: 0;
    margin: 0;
    padding-bottom: 6px;
}

.hotel-item h2 > a {
    line-height: 26px;
    color: #000;
}


.hotel-item h2 > a:hover,
.hotel-item h2 > a:focus {
    color: #81b3d2;
}

.hotel-item h2 > a:active {
    color: rgba(0, 0, 0, 0.3)
}

.hotel-type,
.hotel-price {
    line-height: 21px;

}

.hotel-score {
    margin-right: 72px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hotel-rating {
    width: 110px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    background-color: #f2f2f2;
}

.hotel-actions {
    margin-top: 15px;
}

.hotel-actions a {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;
}

.hotel-actions a:first-child {
    color: white;
    background-color: #81b3d2;
}

.hotel-actions a:last-child {
    color: white;
    background-color: #766357;
}

.hotel-actions a:first-child:hover,
.hotel-actions a:first-child:focus {
    background-color: #669ec0;
}

.hotel-actions a:last-child:hover,
.hotel-actions a:last-child:focus {
    background-color: #604e43;
}

.hotel-actions a:first-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-actions a:last-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hotel-stars img {
    padding: 0;
    margin: 0;
    margin-left: 7px;
}
