body {
    margin: 0;
    min-width: 1280px;
    min-height: 2762px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    fill: currentColor;
}

.hotels-page {
    background-color: #f2f2f2;
    min-width: 1280px;
    min-height: 933px;

}

.main-container {
    min-height: inherit;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fff;
    /* box-shadow: 0px 5px 15px black; */
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.main-header {
    width: 100%;
}

.main-header img {
    position: absolute;
    left: 530px;
    right: 530px;
    margin: 0 auto;
    margin-top: -1px;
    }

.site-navigation {
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
    line-height: 26px;
    color: #000;
    background-color: inherit;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list li {
    display: flex;
    justify-content: center;
    width: 240px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigation-list a {
    color: #000;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.head-wrapper {
    display: flex;
    justify-content: center;
    min-height: 500px;
    background-color: #81b3d2;
    background-image: url(../img/main-background.jpg);
    background-position: 70% 26%;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-wrapper img {
    padding-top: 76px;
}

.title-section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 216px;
    text-align: center;
    line-height: 21px;
}

.about-town {
    width: 440px;
    padding-top: 60px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.about-reasons {
    width: 489px;
    min-height: 13px;
    line-height: 26px;
}

.hotels-seacrh {
    text-align: center;
}

.reasons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
    background-color: #81b3d2;
}

.hotels-seacrh b {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.features-list,
.reasons-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.features-list li {
    width: 400px;
    height: 330px;
}

.features-item svg {
    margin-top: 60px;
    margin-bottom: 29px;
}

.text-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 143px;
}

.text-wrap h3 {
    margin: 0;
    padding-top: 50px;
}

.features-section {
    text-align: center;
    line-height: 21px;
}

.features-item h3,
.reasons-list h3,
.reasons-title {
    font-size: 21px;
    font-weight: bold;
}

.reasons-title {
    margin: 0;
    width: 280px;
    padding-top: 46px;
    word-wrap: break-word;
}

.reasons-image-town {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url(../img/layer-1.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.reasons-image-bridge {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url(../img/layer-2.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.reasons-text {
    width: 280px;
    padding-bottom: 64px;
    padding-right: 60px;
    padding-left: 60px;
}

.reasons-list h3,
.reasons-list p {
    color: #000;
}

.features-item h3 {
    padding: 0;
    margin: 0;
}

.features-item p {
    font-size: 14px;
    margin-bottom: 85px;
}

.reasons-section {
    display: flex;
    min-height: 256px;
    text-align: center;
    line-height: 21px;
    background-color: #eeeeee;
    color: #fff;
}

.reasons-list li {
    width: 400px;
}

.hotels-wrap {
    width: 434px;
    height: 96px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.hotels-wrap {
    margin: 0 auto;
    padding: 0;
    padding-top: 56px;
}

.search-button {
    width: 568px;
    height: 86px;
    margin-top: 52px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #766357;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.main-footer,
.footer-social-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.main-footer {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 120px;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social-list {
    list-style: none;
    text-align: center;
}

.developer {
    display: flex;
    width: 195px;
    flex-direction: row;
    align-items: center;
    line-height: 26px;
}

.developer b {
    font-weight: normal;
    margin-right: 6px;
}

.developer svg {
    vertical-align: middle;
}

.developer svg:hover,
.developer svg:focus {
    fill: #81b3d2;
}

.developer svg:active {
    fill: #bdbbbc;
}

.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
    margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;

}

.social-tw {
    background-image: url(../img/svg-sedona/twitter.svg);
}

.social-fb {
    background-image: url(../img/svg-sedona/fb-icon.svg);
}

.social-ytb {
    background-image: url(../img/svg-sedona/youtube.svg);
}

.find-form ul {
    list-style: none;
}

.find-form label {
    text-align: left;
    font-weight: bold;
}

input[type="text"] {
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

input::placeholder {
    color: #000;
}

input[type="text"]:hover {
    background-color: #ebebeb;
}

input[type="text"]:focus {
    outline-color: #e5e5e5;
    outline-width: 2px;
    background-color: #ffffff;
}

.modal-button {
    width: 458px;
    height: 58px;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

/*стили для sedona-hotels.html*/
.current-page {
    color: #766357;
}

.filter-area {
    min-height: 200px;
    background: url('../img/filter-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.filter-form {
    display: flex;
    justify-content: space-around;
    color: #fff;
    line-height: 21px;
}

.filter-form ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

fieldset {
    display: flex;
    border: none;
}

legend {
    margin: 0;
    padding-top: 31px;
    font-weight: bold;
    font-size: 16px;

}

.checkbox-list li {
    padding: 0;
    margin: 0;
    padding-top: 23px;
}

.checkbox-list li:last-child {
    padding-bottom: 31px;
}

input[type=checkbox] {
    display: none;

}

label::before {
    content: "";
    width: 23px;
    height: 23px;
    margin-right: 15px;
    display: inline-block;
    background-image: url(../img/svg-sedona/checkbox-off.svg);
}

input[type=checkbox]:checked + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on.svg);
}

input[type=checkbox]:checked:disabled + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on-dis.svg);
    fill: #6a6a6a;
}

input[type=checkbox]:disabled + label::before {
    width: 23px;
    background-image: url(../img/svg-sedona/checkbox-off-dis.svg);
    fill: #6a6a6a;
}

.right-column {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cost-per-day {
    display: flex;
    justify-content: space-around;
    width: 220px;
    border: 2px solid white;
    border-radius: 3px;
}

.show-button {
    padding: 0;
    margin: 0 auto;
    width: 133px;
    height: 32px;
    color: #fff;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
}

.show-button:hover,
.show-button:focus {
    color: #000;
    background-color: #fff;
}

.results {
    display: flex;
}

.find-result {
    margin-left: 72px;
    margin-right: 49px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
}

.sorting-area {
    display: flex;
    align-items: center;
    line-height: 17.5px;
    font-size: 10.5px;
    text-align: left;
}

.sorting-area p {
    margin-right: 40px;
}


.sorting-button {
    margin-right: 33px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
    color: #81b3d2;
}

.sorting-button:active {
    color: #000;
    border: none;
}

.checked {
    border: none;
    color: #81b3d2;
}

.hotels-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.hotel-item {
    padding: 0;
    margin: 0;
    height: 150px;

    /* временно */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* */
}

.hotel-item h2 > a {
    line-height: 26px;
    color: #000;
}

.hotel-item h2 > a:hover,
.hotel-item h2 > a:focus {
    color: #81b3d2;
}

.hotel-item h2 > a:active {
    color: rgba(0, 0, 0, 0.3)
}

.hotel-type,
.hotel-price {
    line-height: 21px;
}

.hotel-rating {
    width: 110px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    background-color: #f2f2f2;
}


.hotel-actions a:first-child {
    color: white;
    background-color: #81b3d2;
}

.hotel-actions a:last-child {
    color: white;
    background-color: #766357;
}

.hotel-actions a:first-child:hover,
.hotel-actions a:first-child:focus {
    background-color: #669ec0;
}

.hotel-actions a:last-child:hover,
.hotel-actions a:last-child:focus {
    background-color: #604e43;
}

.hotel-actions a:first-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-actions a:last-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
