body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    background-color: #ffffff;
    fill: currentColor;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.site-navigation {
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    color: #000;
    background-color: inherit;
}

.navigation-list {
    list-style: none;
}

.navigation-list a {
    color: #000;
}

.navigation-list a:hover,
.navigation-list a:focus {
    color: #81b3d2;
}

.navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.head-wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #81b3d2;
    background-image: url(../img/main-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-section {
    text-align: center;
    line-height: 21px;
}

.about-town {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.about-reasons {
    line-height: 26px;
}

.hotels-seacrh {
    text-align: center;
}

.reasons-block {
    background-color: #81b3d2;
}

.hotels-seacrh b {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.features-list,
.reasons-list {
    list-style: none;
}

.features-section {
    text-align: center;
    line-height: 21px;
}

.features-item h3,
.reasons-list h3,
.reasons-title {
    font-size: 21px;
    font-weight: bold;
}

.reasons-list h3,
.reasons-list p {
    color: #000;
}

.features-section {
    text-align: center;
    line-height: 21px;
}

.features-item p {
    font-size: 14px;
}

.reasons-section {
    text-align: center;
    line-height: 21px;
    background-color: #eeeeee;
    color: #fff;
}

.search-button {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #766357;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social-list {
    list-style: none;
    text-align: center;
}

.developer {
    line-height: 26px;
}

.developer b {
    font-weight: normal;
}

.developer svg:hover,
.developer svg:focus {
    fill: #81b3d2;
}

.developer svg:active {
    fill: #bdbbbc;
}

.find-form ul {
    list-style: none;
}

.find-form label {
    text-align: left;
    font-weight: bold;
}

input[type="text"] {
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

input::placeholder {
    color: #000;
}

input[type="text"]:hover {
    background-color: #ebebeb;
}

input[type="text"]:focus {
    outline-color: #e5e5e5;
    outline-width: 2px;
    background-color: #ffffff;
}

.modal-button {
    width: 458px;
    height: 58px;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #669ec0;
}

.modal-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

/*стили для sedona-hotels.html*/
.current-page {
    color: #766357;
}

.filter-area {
    background: url('../img/filter-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.filter-form {
    color: #fff;
    line-height: 21px;
}

.filter-form ul {
    list-style: none;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 16px;
}

input[type=checkbox] {
    display: none;
}

label::before {
    content: "";
    width: 23px;
    height: 23px;
    margin-right: 15px;
    display: inline-block;
    background-image: url(../img/svg-sedona/checkbox-off.svg);
}

input[type=checkbox]:checked + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on.svg);
}

input[type=checkbox]:checked:disabled + label::before {
    width: 27px;
    background-image: url(../img/svg-sedona/checkbox-on-dis.svg);
    fill: #6a6a6a;
}

input[type=checkbox]:disabled + label::before {
    width: 23px;
    background-image: url(../img/svg-sedona/checkbox-off-dis.svg);
    fill: #6a6a6a;
}


.cost-per-day {
    width: 220px;
    border: 2px solid white;
    border-radius: 3px;
}

.show-button {
    width: 133px;
    height: 32px;
    color: #fff;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
}

.show-button:hover,
.show-button:focus {
    color: #000;
    background-color: #fff;
}

.find-result,
.number-result {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
}

.sorting-area {
    line-height: 17.5px;
    font-size: 10.5px;
    text-align: left;
}

.sorting-button {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-button:hover,
.sorting-button:focus {
    color: #81b3d2;
}

.sorting-button:active {
    color: #000;
    border: none;
}

.checked {
    border: none;
    color: #81b3d2;
}

.hotels-list {
    list-style: none;
}

.hotel-item h2 > a {
    line-height: 26px;
    color: #000;
}

.hotel-item h2 > a:hover,
.hotel-item h2 > a:focus {
    color: #81b3d2;
}

.hotel-item h2 > a:active {
    color: rgba(0, 0, 0, 0.3)
}

.hotel-type,
.hotel-price {
    line-height: 21px;
}

.hotel-rating {
    width: 110px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    background-color: #f2f2f2;
}


.hotel-actions a:first-child {
    color: white;
    background-color: #81b3d2;
}

.hotel-actions a:last-child {
    color: white;
    background-color: #766357;
}

.hotel-actions a:first-child:hover,
.hotel-actions a:first-child:focus {
    background-color: #669ec0;
}

.hotel-actions a:last-child:hover,
.hotel-actions a:last-child:focus {
    background-color: #604e43;
}

.hotel-actions a:first-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-actions a:last-child:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
